/** Add css rules here for your application. */

.dashboard {
	height: 100%;
    width: 100%;
    display: grid;
    gap: 7px;
}
.menubar{
	display: flex;
    width: 100%;
    justify-content: flex-end;
}

.dataPanel {
	background-color: blue;
 	gap: 5px;
 	background-color: blue;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    height: 100%;
    width: -webkit-fill-available;
}
.listBox {
    font-size: medium;
    height: 25px;
    width: 100px;

}